     body {
                font-family: 'Source Sans Pro', sans-serif;
                padding: 0;
                margin: 0;
                color: black;
                background-color: black;
            }
            
            a {color: antiquewhite; text-decoration: none;}
            a:hover {color: grey;}
            
            header {
                background-color: aliceblue; 
                height: 10vh;
            }


h1 {font-family: "Bodoni",serif; font-size:3.5em; color: dimgrey;}
h2 {font-family: "Times", serif; font-size: 4em; color: antiquewhite; padding: 0; margin: 0;}
h3 {font-family: "Times", serif; font-size: 2em; color: antiquewhite;}
h4 {font-family: "Times", serif; font-size: 1.8em; color: black;}
h5 {font-family: "Times", serif; font-size: 4em; color: antiquewhite;}
h6 {font-family: "Times", serif; font-size: 1.6em; color: antiquewhite;}

h1 {
  position: absolute;
  top: 10px;
  left: 146px;
}
.navigation {background-color: black;}
            
            .navigation ul {
                display: flex; 
                justify-content: center;
                list-style: none;
               
            }
.navigation ul li {padding: 30px;  }
            


@media (max-width: 600px) {
            .navigation ul {
                display: flex;
                flex-direction: column;
                text-align: center;
                padding: 0;
                margin: 0;
                }
                
            .navigation ul li {
                padding-top: 30px;
                padding-bottom: 30px;
                background-color: black;
            }
    
            .navigation ul li:hover {
                background-color: aliceblue;
            }
            
            }
        
            
            header {
                display: grid;
                background-image: url("../img/norway.jpg");
                background-size: cover;
                min-height: 100vh;
                justify-content: center;
                align-content: center;
            }

                .about {
                display:grid;
                color: antiquewhite;
                background-color: black;
                }

            .about-item {
            grid-template-columns: 1fr 1fr;
            grid-gap: 20px;
            }
            
            .about-item img {
            width: 100%;
            object-fit: cover;
            }



h2 {
  
   font-size:7em;
    
}



h4 {
     
  position: absolute;
  width:28em;  
  top: 328px;
  left: 81px;
  font-size:1.38em;  
  color:antiquewhite  
}


.parallax {
    /* The image used */
    background-image: url("../img/box-a-s.jpg");
        
    /* Set a specific height */
    min-height: 600px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
   
 


  
 







p {
    font-size:1.1em;
    margin-top: -23px;
    line-height:1.8em;
    width: 36em;
}
    
 









footer {
              
                background-color: #black; 
                min-height: 2vh;
                padding: 20px;
                color: antiquewhite;
                text-align: center;  }
    
             
        footer h3 {
                 font-size: 2em;
             }


.button {
  
  top:10%;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
   
}

.button {
    
  left:50px;
  background-color: black; 
  color: black; 
  border: 2px solid;
   
}

.button:hover {
    
  background-color: black;
  color: antiquewhite;
    
}

.center {text-align: center;}
.vm{padding: 0;}


/*----------- MOBILE -------------*/
@media (min-width: 320px) and (max-width: 580px) {
    body{
        background-color: black;
    }
 header
  
}